/* ----------------------------------------------------------------------------
 * Template
 * ----------------------------------------------------------------------------
 */
html, body {
    height: 100%;
}
body {
    background: #212128;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
}

/* #website-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #15151e;
}
#header-info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    height: 100%;
}
#header-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    height: 100%;
} */
#admin-wrapper {
    height: 100%;
    display: flex;
    padding: 0;
}




#admin-menu {
    background: #1a1a23;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 50px;
}

#admin-content {
    margin: 50px 0 0 250px;
    padding: 15px;
    width: 100%;
}

.dt-url {
    text-decoration: none;
    transition: 0.2s
}
.dt-url:hover {
    color: #fff;
}
